<br><br><br><br><br>
<h1 class="branco color-black font-default alinhar"><b>ESTILOS DE CORTE E BARBA</b></h1>
<br>
<div class="alinhar">
    <article class="card">
        <img
        class="card__background"
        src="../../assets/img/disfarcado01.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        width="1920"
        height="2193"
        />
        <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Disfarçado</h2>
            <p class="card__description">
            o famoso degradê, podendo ser baixo, médio ou alto, é um corte que combina com qualquer situação
            </p>
        </div>
        <a href="https://www.antony.com.br/2021/02/19/cabelo-masculino-disfarcado-ideias-para-voce-apostar-nesse-estilo/" target="_blank"><button class="card__button font-default">Saiba mais</button></a>
        </div>
    </article>
    <article class="card">
        <img
        class="card__background"
        src="../../assets/img/corte-americano02.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        width="1920"
        height="2193"
        />
        <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Americano</h2>
            <p class="card__description">
            consiste na mesma ideia do degradê em áreas específicas, proporcionando crescer seu cabelo em novos formatos
            </p>
        </div>
        <a href="https://manualdohomemmoderno.com.br/cabelo/o-que-e-o-corte-americano-conheca-e-confira-as-inspiracoes" target="_blank"><button class="card__button">Saiba mais</button></a>
        </div>
    </article>
    <article class="card">
        <img
        class="card__background"
        src="../../assets/img/cortemoicano01.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        width="1920"
        height="2193"
        />
        <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Moicano</h2>
            <p class="card__description">
            desde a popularização de jogadores de futebol utlizando, virou febre e dispensa apresentações
            </p>
        </div>
        <a href="https://www.justfor.com.br/blogs/cabelo/moicano-disfarcado-o-que-e" target="_blank"><button class="card__button">Saiba mais</button></a>
        </div>
    </article>
    <article class="card">
        <img
        class="card__background"
        src="../../assets/img/barba.jpg"
        alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
        width="1920"
        height="2193"
        />
        <div class="card__content | flow">
        <div class="card__content--container | flow">
            <h2 class="card__title">Barba</h2>
            <p class="card__description">
            conheça sobre nossos estilos e veja qual mais combina com seu rosto, corte e tamanho da barba
            </p>
        </div>
        <a href="https://www.gillette.com.br/pt-br/dicas-para-barbear/estilos-de-barba/quinze-principais-estilos-de-barba" target="_blank"><button class="card__button">Saiba mais</button></a>
        </div>
    </article>
</div>
<br><br>
