footer {
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 80px;
    align-items: center;
}

.branco {
    color: aliceblue;
}

.twitter:hover {
    color: #00ACEC;
}

.face:hover {
    color: #1877F2;
    background-color: aliceblue;
    border-radius: 50%;
}

.insta:hover {
    background-image: linear-gradient(to right, #780FFF, #FF5400, #FFC300);
    border-radius: 8px;
}

.ajeitar-img {
    padding-right: 5px;
    width: 10%;
}