<h1 class="branco color-black">QUEM SOMOS NÓS?</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 gustavo">
  <div class="col ajeitaC">
    <div class="card h-100">
      <img src="../../assets/img/mussum.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Artur Barbosa, o "Mussum"</h2>
        <p class="card-text">
          Sou barbeiro desde os 15 anos de idade, apaixonado por skate e amo uma
          resenha nas horas vagas, além é claro de ser rato de academia rs.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"
          ><a
            class="link"
            href="https://instagram.com/mussum_du_corte?igshid=MzRlODBiNWFlZA=="
            target="_blank"
            ><i class="bi bi-instagram"></i> @mussum_du_corte</a
          ></small
        >
      </div>
    </div>
  </div>
  <div class="col ajeitaR">
    <div class="card h-100">
      <img src="../../assets/img/fael.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Rafael Barbosa, o "Fael"</h2>
        <p class="card-text">
          Estou no ramo de barbearia há mais de 20 anos, sou o fundador do
          Complexo do RD, além de ter ensinado o Mussum e o Guh a cortarem
          também.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"
          ><a
            class="link"
            href="https://www.instagram.com/complexo_do_rd/"
            target="_blank"
            ><i class="bi bi-instagram"></i> @complexo_do_rd</a
          ></small
        >
      </div>
    </div>
  </div>
  <div class="col ajeitaR">
    <div class="card h-100">
      <img src="../../assets/img/gu.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Gustavo Santos, o "Seu Guh"</h2>
        <p class="card-text">
          Mais conhecido como Seu Guh, corto cabelo desde os 14 anos de idade,
          fui ensinado pelo meu pai Rafael. Sou guitarrista e pretendo seguir
          carreira na música.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"
          ><a
            class="link"
            href="https://instagram.com/guh_du_disfarce?igshid=MzRlODBiNWFlZA=="
            target="_blank"
            ><i class="bi bi-instagram"></i> @guh_du_disfarce</a
          ></small
        >
      </div>
    </div>
  </div>
</div>
