<h1 class="branco color-black font-default"><b>QUEM SOMOS NÓS?</b></h1>

<div class="team-boxed">
  <div class="container">
      <div class="row people">
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="../../assets/img/mussum.jpeg">
                  <h3 class="name font-default">Artur Barbosa</h3>
                  <p class="title font-default">o "Mussum"</p>
                  <p class="description">Comecei a cortar cabelo aos meus 14 anos, sempre fui uma pessoa de personalidade forte e que adora festas, nos últimos tempos tenho focado muito em desenvolver meu físico através da academia, sendo meu principal hobby.</p>
                  <div class="social"><a href="https://www.instagram.com/mussum_du_corte/" target="_blank"><i class="bi bi-instagram ig"></i></a><a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter tw"></i></a><a href="https://pt-br.facebook.com/" target="_blank"><i class="bi bi-facebook face"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="../../assets/img/fael.jpeg">
                  <h3 class="name font-default">Rafael Barbosa</h3>
                  <p class="title font-default">o "Fael"</p>
                  <p class="description">Estou no ramo de barbearia há mais de 20 anos, sou o fundador do Complexo do RD, ensinei vários a seguir essa profissão durante a minha caminhada até aqui, inclusive os que estão comigo agora!</p>
                  <div class="social"><a href="https://www.instagram.com/complexo_do_rd/" target="_blank"><i class="bi bi-instagram ig"></i></a><a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter tw"></i></a><a href="https://pt-br.facebook.com/" target="_blank"><i class="bi bi-facebook face"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="../../assets/img/gu.jpeg">
                  <h3 class="name font-default">Gustavo Santos</h3>
                  <p class="title font-default">o "Seu Guh"</p>
                  <p class="description">Apesar de ser barbeiro desde a adolescência, atualmente estou formando na faculdade de música, o meu sonho sempre foi ser um guitarrista de sucesso e seguir carreira, inclusive já faço algumas apresentações.</p>
                  <div class="social"><a href="https://www.instagram.com/guh_du_disfarce/" target="_blank"><i class="bi bi-instagram ig"></i></a><a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter tw"></i></a><a href="https://pt-br.facebook.com/" target="_blank"><i class="bi bi-facebook face"></i></a></div>
              </div>
          </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

