<br><br><br><br><br>
<h1 class="branco color-black font-default alinhar"><b>PRODUTOS DE TRATAMENTO</b></h1>
<br><br>
<main class="container">
    <section class="card card-orange">
        <div class="product-image">
          <img src="../../assets/img/barba05.webp" alt="OFF-white Blue Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Kit Light My Fire SobreBarba</h2>
          <p>KIT C/ SHAMPOO, BALM E CERA DE BIGODE</p>
          <div class="price">R$132,90</div>
        </div>
        <div class="btn">
          <button class="buy-btn">COMPRAR</button>
        </div>
    </section>
    <section class="card card-blue">
      <div class="product-image">
        <img src="../../assets/img/barba01.webp" alt="OFF-white Blue Edition" draggable="false" />
      </div>
      <div class="product-info">
        <h2>Loção Pós-barba</h2>
        <p>LOÇÃO PÓS BARBA N° 43 FORCE MEN 100ML</p>
        <div class="price">R$44,90</div>
      </div>
      <div class="btn">
        <button class="buy-btn">COMPRAR</button>
      </div>
    </section>
    <section class="card card-blue">
        <div class="product-image">
          <img src="../../assets/img/barba06.webp" alt="OFF-white Blue Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Creme de Barbear</h2>
          <p>
            SHAVING EM CREME BARBOTERAPIA REFIL 500G</p>
          <div class="price">R$55,90</div>
        </div>
        <div class="btn">
          <button class="buy-btn">COMPRAR</button>
        </div>
      </section>
  </main>
<br><br><br>
<main class="container">
    <section class="card card-blue">
        <div class="product-image">
          <img src="../../assets/img/barba03.webp" alt="OFF-white Blue Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Balm Hidratante</h2>
          <p>BALM HIDRATANTE FORCE MEN 250ML</p>
          <div class="price">R$69,90</div>
        </div>
        <div class="btn">
          <button class="buy-btn">COMPRAR</button>
        </div>
    </section>
    <section class="card card-red">
      <div class="product-image">
        <img src="../../assets/img/barba07.webp" alt="OFF-white Blue Edition" draggable="false" />
      </div>
      <div class="product-info">
        <h2>Kit Barba Negra Don Alcides</h2>
        <p>KIT C/ SHAMPOO, BALM E ÓLEO</p>
        <div class="price">R$170,90</div>
      </div>
      <div class="btn">
        <button class="buy-btn">COMPRAR</button>
      </div>
    </section>
    <section class="card card-green">
        <div class="product-image">
          <img src="../../assets/img/barba08.webp" alt="OFF-white Blue Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Kit Antiqueda Capilar BB</h2>
          <p>KIT C/ SHAMPOO, TÔNICO E SUPLEMENTO</p>
          <div class="price">R$199,00</div>
        </div>
        <div class="btn">
          <button class="buy-btn">COMPRAR</button>
        </div>
      </section>
  </main>
  <br><br><br>
  <main class="container">
      <section class="card card-marrom">
          <div class="product-image">
            <img src="../../assets/img/barba10.webp" alt="OFF-white Blue Edition" draggable="false" />
          </div>
          <div class="product-info">
            <h2>Kit Che Figo</h2>
            <p>KIT C/ SHAMPOO, PÓS BARBA, GEL, FIBRA</p>
            <div class="price">R$274,90</div>
          </div>
          <div class="btn">
            <button class="buy-btn">COMPRAR</button>
          </div>
      </section>
      <section class="card card-blue">
        <div class="product-image">
          <img src="../../assets/img/barba04.webp" alt="OFF-white Blue Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Tônico Oxidil Force Men</h2>
          <p>
            TÔNICO OXIDIL 30ML</p>
          <div class="price">R$53,90</div>
        </div>
        <div class="btn">
          <button class="buy-btn">COMPRAR</button>
        </div>
      </section>
      <section class="card card-black">
          <div class="product-image">
            <img src="../../assets/img/barba09.webp" alt="OFF-white Blue Edition" draggable="false" />
          </div>
          <div class="product-info">
            <h2>Kit Urban Men</h2>
            <p>KIT C/ SHAMPOO, TÔNICO, CERA E NECESSAIRE</p>
            <div class="price">R$235,00</div>
          </div>
          <div class="btn">
            <button class="buy-btn">COMPRAR</button>
          </div>
        </section>
    </main>
<br><br>
